*.swp
*~
*.o
.*
shmcat*.tar.bz2
shmcat*.tar.gz

ABOUT-NLS
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
stamp-h1

autom4te.cache
intl
po/*
m4/*

src/gettext.h
src/shmcat

!.gitignore

!po/Makevars
!po/POTFILES.in
!po/LINGUAS
!po/*.pot
!po/de.po

!m4/ChangeLog
